@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

* {
  user-select: none;
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}